{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container main-container">
    <div class="log_sign-container ">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h3>{% trans "Sign In" %}</h3>

                <p>{% blocktrans %}Welcome back to Joy of Food. To leave a comment or like a post, please log in. If
                    ou
                    have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                    first.{% endblocktrans %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                    <div id=" div_id_login" class="form-group">
                        <label for="id_login" class="requiredField">
                            Username
                        </label>
                        <div>
                            <input type="text" name="login" placeholder="Username" autocomplete="username" maxlength="150" class="textinput textInput form-control" required="" id="id_login">
                        </div>
                    </div>             
                    <div id=" div_id_password" class="form-group">
                        <label for="id_password" class=" requiredField">
                            Password
                        </label>
                        <div>
                            <input type="password" name="password" placeholder="Password" autocomplete="current-password" class="textinput textInput form-control" required="" id="id_password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="div_id_remember" class="form-check"> 
                            <input type="checkbox" name="remember" class="checkboxinput form-check-input" id="id_remember"> 
                                <label for="id_remember" class="form-check-label">
                                    Remember Me
                                </label> 
                        </div> 
                    </div>
                    <button class="btn btn-lg btn--cta1 btn--red1" type="submit">{% trans "Sign In" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}