{% extends "base.html" %}

{% block content %}

{% if messages %}

<div class="container messages-container">
    <div class="messages main-container">
        <h1>Joy of Food: About us</h1>
        <p>We are a new restuarant who is aming to spread joy by food. <br>
            Me and my partner decied to do something that makes us happy and can bring joy to other.
            We didnt have any expricence in the kitchen but we both loved to cook. <br>
            In this life you dont need much more the love and the will to do good. 
        </p>

    </div>
</div>    
{% endif %}

{% endblock %}