{% extends "base.html" %}

{% block content %}

<div class="container messages-container">
    <div class="messages main-container text-center">
        <h1>Joy of Food</h1>
        <p>We are a newly opened restuarant who is aming to spread joy by food. <br>
            Joy of Food is a lunch and dinner restuarant that serves food from different parts of the world. <br>
            Me and my partner decied to do something that makes us happy and can bring joy to others.
         <br>
            "In this life you dont need much more the love and the will to do good". 
        </p>
        <br><br>
        <div class="text-center">
        <img src="/static/images/finger-food-and-drinks-on-dark-wood.jpg" alt="">
        </div>
        <br><br>

        <p>
            Our goal is for us to grow and become on off the most visited rastuarants in sweden. <br>
            The way we will acheiv this is by you help... <br>
            Help us spread the joy!
        </p>

    </div>
</div>    

{% endblock %}