{% extends "base.html" %}

{% block content %}
<!-- index.html content starts here -->

<!--Main-->

<div class="container">
    <h1>My Bookings</h1>
    <div class="booking-container">
        <table>
            <tr>
                <th class="td-booking-tittle-l">Date:</th>
                <th class="td-booking-tittle-m">Time:</th>
                <th class="td-booking-tittle-l">Party Size:</th>
                <th>Number of Tables:</th>
            </tr>
        {% for booking in bookings%}
            <tr> 
                <td>
                    {{ booking.date|date:"M d" }}
                </td>
                <td>
                    {{ booking.time }}
                </td>
                <td>
                    {{ booking.party_size }}
                </td>
                <td class="td-booking-tittle">
                    {{ booking.num_tables }}
                </td>                 
                
            </tr>
        {% endfor %}

        </table>
  

    </div>


</div>

<!--/Main-->

<!-- index.html content ends here -->
{% endblock %}