{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<article class="container mt-3">
    <!-- Callout -->
    <div class="row">
        <div class="col-12">
            <section class="callout jumbotron text-center">
                <h1>Come eat with us</h1>
                <p>Food is life, food is joy</p>
                <button class="btn btn-success btn-lg">Make a booking</button>
            </section>
        </div>
    </div>
    <!-- /.Callout -->
    <hr>

    <!--Reviews-->
    <section class="reviews">
        <div class="row">
            <div class="col-12">
                <h2 class="">Reviews:</h2>
                <div class="review">

                </div>
            </div>
        </div>

    </section>
    <!-- /.Reviews -->

    <!--Menu-->
    <section class="menu">
        <div class="row">
            <div class="col-12">
                <h2>Menu:</h2>
                <div class="food">
                <h3>Food:</h3>
                </div>
                <div class="drinks">
                <h3>Drinks:</h3>
                </div>
            </div>
        </div>

    <!-- /Menu -->  
    

    </section>


</article>



<!-- index.html content ends here -->
{% endblock %}