{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->

    <!-- Callout -->
<div class="container-fluid callout-container">
    <div class="row">
        <div class="col-12">
            <section class="callout jumbotron text-center">
                <h1 class="jumbotron-header">Welcome to Joy of food!</h1>
                <hr class="block-divider">
                <p class="lead">We are a newly started restuarant. 
                    Our goal is to provid joy with food. 
                    <br> We have the opportunity to serve
                    all parties, large and small.
                    <br><br>                   
                    <strong><mark>A very warm welcome!</mark></strong></p>
                    
                <button class="btn btn-lg btn--cta btn--red" data-toggle="modal" data-target="#bookModal">Book</button>
            </section>
        </div>
    </div>
</div>    
    <!-- /.Callout -->
    <hr>

    <!--Reviews-->
<div class="container reviews-container">  
    <section class="reviews">
        <div class="row">
            <div class="col-12">
                <h2 class="">Reviews:</h2>
                <div class="review">
                </div>
            </div>
        </div>
    </section>
</div>     
    <!-- /.Reviews -->
 
    <!--Menu-->
<div class="menu-container">    
    <section class="menu text-center">
        <div class="row">
            <div class="col-12 my-5">
                <h2><i class="fa-solid fa-utensils d-none d-sm-inline"></i> Menu</h2>
            </div> 
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="food">
                <h3><i class="fa-solid fa-drumstick-bite d-none d-sm-inline"></i> Food</h3>
                <!-- Food table-->
                <table class="food-table">
                    <tr>
                        <td class="td-tittle">
                            Steak - Served with french fries or rice.
                        </td>
                        <td>159kr</td>
                    </tr>
                    <tr>
                        <td class="td-tittle">
                            Fish - Served with potatos or rice.
                        </td>
                        <td>129kr</td>
                    </tr>
                    <tr>
                        <td class="td-tittle">
                            Hamburger - Served with french fries.
                        </td>
                        <td>99kr</td>
                    </tr>
                    <tr>
                        <td class="td-tittle">
                            Pizza - Served with a pizza salad.
                        </td>
                        <td>89kr</td>
                    </tr>
                </table>
              
                </div>
            </div>
                
            <div class="col-12 col-md-6 col-lg-4">
                <div class="drinks">
                    <h3><i class="fa-solid fa-glass-water d-none d-sm-inline"></i> Drinks</h3>
                    <table class="drinks-table">
                        <tr>
                            <td class="td-tittle">
                                Wine
                            </td>
                            <td>59kr</td>
                        </tr>
                        <tr>
                            <td class="td-tittle">
                                Beer
                            </td>
                            <td>69kr</td>
                        </tr>
                        <tr>
                            <td class="td-tittle">
                                Soda
                            </td>
                            <td>59kr</td>
                        </tr>
                        <tr>
                            <td class="td-tittle">
                                Water
                            </td>
                            <td>39kr</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
</div>    

    </section>        
        
    <!-- /Menu -->  
    

    






<!-- index.html content ends here -->
{% endblock %}