{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<article class="container">
    <!-- Callout -->
    <section class="callout">
        <h1></h1>
        <p></p>
    </section>
    <!-- /.Callout -->
    <hr>

    <!--Reviews-->
    <section class="reviews">
        <h2 class="">Reviews:</h2>
        <div class="review">

        </div>

    </section>
    <!-- /.Reviews -->

    <!--Menu-->
    <section class="menu">
        <h2>Menu:</h2>
        <div class="food">
            <h3>Food:</h3>
        </div>
        <div class="drinks">
            <h3>Drinks:</h3>
        </div>
    <!-- /Menu -->  
    

    </section>


</article>



<!-- index.html content ends here -->
{% endblock %}