{% extends "base.html" %}

{% block content %}
<!-- index.html content starts here -->

<!--Main-->

<div class="container">
    <h1>Thank you for making a reservation</h1>
        <div class="reservation-details">
        <h2>Reservation Details</h2>
        <p>Date: {{ reservation.date }}</p>
        <p>Time: {{ reservation.time }}</p>
        <p>Party Size: {{ reservation.part_size }}</p>
        <p>Number of Tables: {{ reservation.num_tables }}</p>
    </div>
</div>

<!--/Main-->

<!-- index.html content ends here -->
{% endblock %}